<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ===================== -->
    <!-- Console Appender -->
    <!-- ===================== -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg
                traceId=%X{traceId} spanId=%X{spanId}%n
            </pattern>
        </encoder>
    </appender>

    <!-- ===================== -->
    <!-- Logstash Appender -->
    <!-- ===================== -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <!-- ⚠️ utiliser le nom du service docker -->
        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "environment": "dev",
                "application": "StockFlow"
                }
            </customFields>
        </encoder>
    </appender>

    <!-- ===================== -->
    <!-- Root Logger -->
    <!-- ===================== -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
